.contenedor-opiniones{
    width: 1170px;
    height: 386px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    box-shadow: 0 3px 13px 2px rgb(0 0 0 / 9%);
}

.img-opinion {
    height: 100%;
    width: 50%;
}
.contenedor-texto-opinion{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
.nombrepais{
    font-size: 1.3rem;
}

.cargo{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.Opinion{
    font-size: 1.1rem;
    text-align: justify;

}